
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow:  0px -5px 55px rgb(54, 54, 73);
}

.container h1 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

form {
    display: grid;
    grid-gap: 20px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c0baba;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color:rgb(11, 4, 70);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


@media (max-width:600px){
    .container {
        max-width: 250px;
        margin: 50px auto;
        background-color: #fff;
        padding: 15px;
        border-radius: 8px;
        box-shadow:  0px -5px 55px rgb(54, 54, 73);
    }
    
.container h1 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size:20px ;
    margin-bottom: 1rem;
}
.form{
    grid-gap: 10px;
}
}