body {
  margin: 0;
  font-family: Arial, sans-serif;
  }
  
  nav {
  background-color:rgb(27, 19, 74);
  padding: 10px 20px;
  z-index: 2;
  }
  
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.hamburger img{
  height: 10%;
  width: 10%;
  float: right;
}
  
  .desktop-nav ul,
  .mobile-nav ol {
  list-style-type: none;
  margin: 6px;
  padding: 0;
  display: flex;
  }
  
  .desktop-nav li,
  .mobile-nav li {
  margin: 0 10px;
  }
  
  .desktop-nav a {
  color: rgb(247, 244, 244);
  text-decoration: none;
  font-size: 18px;
  }
  .mobile-nav a {
    color: rgb(247, 244, 244);
    text-decoration: none;
    font-size: 18px;
    }
  
  .hamburger {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  display: none;
  }


  
  .mobile-nav {
    margin-top: 0.1rem;
    position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 7rem;
  background-color: rgb(230, 226, 226);
  float: right;
  margin-left: 15rem;
  border-radius: 10px;
  border: 0.5px solid rgb(73, 70, 70);
  
  }
  
  @media (max-width: 600px) {
  .desktop-nav {
  display: none;
  }
  .mobile-nav {
  display: flex;
  flex-direction: column;
  z-index: 2;

  }
  .cross{
    display: flex;
    margin-left: 20rem;
  }
  .hamburger {
  display: block;
  }
  .mobile-nav ul {
  background-color: rgb(38, 48, 44);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  display: flex;
  flex-direction: column;
  }
  .mobile-nav.show ul {
  max-height: 150px;
  /* Adjust this value as needed */
  }

  .mobile-nav a {
    font-size: 15px;
    float: right;
  padding: 2px;
  text-align: center;
  width: 100%;
  display: block;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  /* background-color: rgb(223, 200, 200); */
  }
  }
  
  .desktop-nav ul a:hover {
  background-color: rgb(212, 220, 220);
  padding: 10px 20px;
  color: rgb(11, 4, 70);
  font-weight: bold;
  }

  
  .mobile-nav ul a:hover {
  padding: 4px;
  width: 100%;
  background-color: rgb(228, 233, 233);
  }
  span{
    color: white;
  }
 
    
  @media (min-width: 600px) {
    #mbnav{
        display: none;
      }
    }